[submodule "plugins/redis/vendor"]
	path = plugins/redis/vendor
	url = https://github.com/the-sashko/predis.git
[submodule "plugins/share/twitter/vendor"]
	path = plugins/share/twitter/vendor
	url = https://github.com/the-sashko/codebird-php.git
[submodule "plugins/qr/vendor"]
	path = plugins/qr/vendor
	url = https://github.com/the-sashko/for_php_qr_core.git
[submodule "plugins/language/vendor"]
	path = plugins/language/vendor
	url = https://github.com/the-sashko/php.mo.git
[submodule "plugins/captcha"]
	path = plugins/captcha
	url = git@github.com:the-sashko/fapcha.git
[submodule "plugins/mail/providers/smtp/vendor"]
	path = plugins/mail/providers/smtp/vendor
	url = https://github.com/the-sashko/PHPMailer.git
