<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         bootstrap="bootstrap.php"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">
    <testsuites>
        <testsuite name="Main">
            <directory>main</directory>
        </testsuite>
        <testsuite name="Classes">
            <directory>classes</directory>
        </testsuite>
        <testsuite name="Plugins">
            <directory>plugins</directory>
        </testsuite>
    </testsuites>
</phpunit>