<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         bootstrap="bootstrap.php"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">
    <testsuites>
        <testsuite name="Controllers">
            <directory>controllers</directory>
        </testsuite>
        <testsuite name="Models">
            <directory>models</directory>
        </testsuite>
        <testsuite name="Hooks">
            <directory>hooks</directory>
        </testsuite>
    </testsuites>
</phpunit>